name: OFX.NET Publish to NuGet

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk: [ '8.0.x', '9.0.x', '10.0.x' ]
        framework: [ 'net8.0', 'net9.0', 'net10.0' ]
        include:
          - sdk: '8.0.x'
            framework: 'net8.0'
          - sdk: '9.0.x'
            framework: 'net9.0'
          - sdk: '10.0.x'
            framework: 'net10.0'

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.sdk }}

    - name: Show .NET info
      run: dotnet --info

    - name: Restore dependencies
      run: dotnet restore --verbosity minimal

    - name: Build
      run: dotnet build --configuration Release --no-restore -f ${{ matrix.framework }}

    - name: Test
      run: dotnet test --configuration Release --no-build -f ${{ matrix.framework }} --verbosity normal

    - name: Pack
      run: dotnet pack --configuration Release --no-build -o ./nupkgs

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: package-artifact
        path: ./nupkgs/*.nupkg
        retention-days: 1

    # - name: Publish NuGet
    #   run: dotnet nuget push ./nupkgs/*.nupkg --api-key ${{secrets.NUGET_APIKEY}} --source https://api.nuget.org/v3/index.json --skip-duplicate
