name: OFX.NET Publish to NuGet

on:
  workflow_dispatch:

jobs:
  build-test-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET 8 SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore --verbosity minimal

    - name: Build
      run: dotnet build --configuration Release --no-restore -f net8.0

    - name: Test
      run: dotnet test --configuration Release --no-build -f net8.0 --verbosity normal

    - name: Setup .NET 9 SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'

    - name: Restore dependencies
      run: dotnet restore --verbosity minimal

    - name: Build
      run: dotnet build --configuration Release --no-restore -f net9.0

    - name: Test
      run: dotnet test --configuration Release --no-build -f net9.0 --verbosity normal

    - name: Setup .NET 10 SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore --verbosity minimal

    - name: Build
      run: dotnet build --configuration Release --no-restore -f net10.0

    - name: Test
      run: dotnet test --configuration Release --no-build -f net10.0 --verbosity normal

    # Publish
    - name: Pack
      run: dotnet pack --configuration Release --no-build -o ./nupkgs

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: package-artifact
        path: ./nupkgs/*.nupkg
        retention-days: 1

    # - name: Publish NuGet
    #   run: dotnet nuget push ./nupkgs/*.nupkg --api-key ${{secrets.NUGET_APIKEY}} --source https://api.nuget.org/v3/index.json --skip-duplicate
